@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

* {
  padding: 0; margin: 0; box-sizing: border-box;
  font-family: "Silkscreen", cursive, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", FontAwesome;
}

:root {
  --color-dark: #212529; 
  --color-light: #f5f5f5;  
  --color-primary: #2563eb;  
  --color-secondary: #0d9488; 
  --color-warning: #f59e0b;  
  --color-danger: #dc2626;   
}

.bg-secondary, .bg-primary, .bg-danger { color: white !important; }
.bg-secondary { background-color: var(--color-secondary) !important; }
.bg-warning { background-color: var(--color-warning) !important; }
.bg-primary { background-color: var(--color-primary) !important; }
.bg-danger { background-color: var(--color-danger) !important; }

body { 
  max-width: 100vw; padding: 1em;
  background-color: var(--color-dark);   
}

span { cursor: default; }

.container {
  width: 75vw; display: flex; flex-direction: column; gap: 10px;
  background-color: var(--color-light);
  padding: 0.5rem 1em; border-radius: 10px;
}

.tools-title {
  width: 100%; display: inline-block;
  text-align: center; font-size: 18px;
  padding: 0.5rem 1em 1em 1em;
}

.grid-tools-options {
  height: 62.75px;
  background-color: var(--color-dark); border-radius: 5px; padding: 0.75rem;    
}

.grid-tools-options button, #color-icon, input[type="color"] {
  font-size: 13px; line-height: 1.75;
  transition: all .25s;
}.grid-tools-options button:hover { opacity: .85; }
.btn.active { border: 2px solid var(--color-light); opacity: .7; }

input[type="color"] {
  height: 35px;
  background-color: transparent; cursor: pointer;
}
input[type="color"]::-moz-color-swatch {
    border-radius: 0 5px 5px 0;
    transition: 0.25s;
}
input[type="color"]::-moz-color-swatch:hover { border: 1px solid white; }

/* Cuadrícula */
.grid-wrapper { height: 72vh; } 

.grid-container {
  padding: 5px;
  transform-origin: center center;
}
.grid-row { display: flex; }

.grid-col {
  width: 15px; height: 15px;
  background-color: transparent; border: 1px solid #707479; 
  cursor: cell;
}.grid-col:hover { opacity: 0.8; }

@media (max-width: 600px) {
  .grid-tools-options {
    flex-wrap: wrap; justify-content: center;
  }
  .tools-left {
    justify-content: center; flex-wrap: wrap;
  }
  .tools-right {
    width: 100%; justify-content: center;
    margin-top: 6px;
  }
  .tools-right button { width: 100%; }
}